<footer class="mt-4 w-100 py-4">
    <section class="footer-wrapper mx-auto row justify-content-between">
        <section>
            <a href="#">About Us</a>
            <a href="#">Contact Us</a>
            
        </section>
        <section>
            <a href="#">Feedback</a>
            <a href="#">Privacy and Policy</a>
        </section>
        <section >
            <p>Text to describe subscribe.</p>
            <form action="">
                <input type="email" required placeholder="Your Email...">
                <button type="submit">Subscribe</button>
            </form>
        </section>
    </section>
    <section class="socialMedia d-flex justify-content-center mx-2">
        <a href="#"><fa-icon [icon]="icons.facebook"></fa-icon></a>
        <a href="#"><fa-icon [icon]="icons.linkedin"></fa-icon></a>
        <a href="#"><fa-icon [icon]="icons.github"></fa-icon></a>
        <a href="#"><fa-icon [icon]="icons.twitter"></fa-icon></a>
    </section>
    <p>&copy; 2020 Lorem</p>
</footer>