<section class="reviews mt-4 ">
    <div class="reviews-header py-2 p-4 row justify-content-between align-items-center">
        <h5>Reviews</h5>
    </div>
    <div class="reviews-content p-4">
        <div class="reviews-content-item py-3">
                <h6>Khalid Kandil</h6>
                <p-rating class="row" [ngModel]="4" disabled="true" [cancel]="false" readonly="true">
                </p-rating>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus perferendis praesentium consectetur earum quasi.</p>
        </div>
        <div class="reviews-content-item py-3">
            <h6>Eman Abo Seada</h6>
            <p-rating class="row" [ngModel]="5" disabled="true" [cancel]="false" readonly="true">
            </p-rating>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus perferendis praesentium consectetur earum quasi.</p>
    </div>
    </div>

</section>